.content {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  height: var(--header-bar-height);
  width: 100%;
  max-width: 1921px;
  top: 0;
  background-color: #7e33e0;
  color: var(--white-color);
  span{
    cursor: pointer;
  }
  .contentWide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    .contact {
      display: flex;
      .item {
        a:nth-child(1) {
          margin-right: 48px;
        }
        a {
          color: var(--white-color);
          text-decoration: none;
        }
      }
    }

    .action {
      display: flex;
      gap: 0 16px;
    }
  }
}
