.container {
  // margin-top: calc(var(--header-bar-height) + var(--menu-bar-height));
  padding: 50px 0;
  display: flex;
  h1{
      font-weight: bold;
      font-size: 30px;
  }
  .item {
    flex: 1;
    .table {
      width: 100%;
      border-spacing: 20px;
      text-align: left;
      .trTitle{
          th{
            font-weight: bold;
            font-size: 20px;
          }
      }
      .button {
        border: none;
        color: white;
        padding: 5px;
        cursor: pointer;
      }

      .button:first-child {
        background-color: teal;
        margin-right: 10px;
      }

      .button:last-child {
        background-color: crimson;
      }
    }
  }
}
