$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;

$primary-color: #fb2e86;
$white-color: #fff;
$black-color: #000;
$text-color: #151875;
$subtext-color: #8A8FB9;
$border-color: #e7e6ef;
$star-gold-color: #FFCE3D;

$header-bar-height: 44px;
$menu-bar-height: 78px;
